@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
  
}



#main-head{
    position: fixed;
    padding: 10px 30px;
    width: 100%;
    background: linear-gradient(80deg,#3B2F84 15%, #8E66DA 75%)!important;
}

#main-head a{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}


#section-one{
    padding-top: 180px;
    margin-top: 56px; 
    height: 130vh;
    background-image: url(../images/carbon-illustration-home.svg);
    background-color:rgb(87,66,161);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.hero-page h2{
    line-height: 70px;
   font-size: 55px;
   color: white;
   font-weight: 400;
   font-family: 'Nunito Sans', sans-serif;
   word-wrap: break-word;
   word-break: normal;


}

.hero-page p{
    line-height: 30px;
   font-size: 20px;
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   padding-top: 20px;
   padding-bottom:  40px;

}

.acc-btn{
    padding: 15px;
    background-color: rgb(64,12,133);
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    word-spacing: 1;
    font-family: 'Nunito Sans', sans-serif;
}

.acc-btn a{
    color: white;
    list-style: none;
    text-decoration: none;
}

#section-two{
    background-color: rgb(255,255,255);
}


.section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;

}

.section-wrapper h3{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.section-wrapper p{
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
}

.image-cont{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

#section-three{
    /* background-color: whitesmoke; */
    background-color: rgb(250,252,254);
    padding-top: 100px;
}
.sec-text{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    max-width: 98%;
    margin: 0 auto ;
    gap: 30px;
    margin-bottom: 40px;

  }
  .bigCard{
    border-radius: 10px;
    width: 100%;
    height: 100vh;

  }

  .flexbox1-div{
    /* vertical-align: bottom; */
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 1.25rem rgba(108,118,134,.1)!important ;
    margin-bottom: 10px;
   
  }

  .flexbox1-div h2{
    color:#6c7686;
    padding:20px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .flexbox1-div p{
    color:#6c7686;
    padding:10px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .flexbox1-div a {
    color:rgb(81,15,171);
    padding:10px 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
  }


  .flexbox2-div{
    /* vertical-align: bottom; */
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(142,102,218);
    box-shadow: 0 0 1.25rem rgba(108,118,134,.1)!important ;
    margin-bottom: 10px;
   
  }

  .flexbox2-div h2{
    color: white;
    padding:20px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .flexbox2-div p {
    color: white;
    padding:10px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .jkl{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .flexbox2-div a{
    color: white;
    padding:10px 0px;
    list-style: none;
    text-decoration: none;
  }


  .box3img{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    vertical-align: bottom;
    
  }

 .flexbox3-div{
    /* vertical-align: bottom; */
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(142,102,218);
    box-shadow: 0 0 1.25rem rgba(108,118,134,.1)!important ;
    margin-bottom: 10px;
   
  }

.flexbox3-div h2{
    color: white;
    padding:20px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

.flexbox3-div p {
    color: white;
    padding:10px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }
  .jkl{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

 .flexbox3-div a{
    color: white;
    padding:10px 0px;
    list-style: none;
    text-decoration: none;
  }



 .flexbox4-div{
    /* vertical-align: bottom; */
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 1.25rem rgba(108,118,134,.1)!important ;
    margin-bottom: 10px;
   
  }

 .flexbox4-div h2{
    color:#6c7686;
    padding:20px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

 .flexbox4-div p{
    color:#6c7686;
    padding:10px 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

   .flexbox4-div a{
    color:rgb(81,15,171);
    padding:10px 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
  }






  

  #feature-id{
    background-color: rgb(255,255,255);
    padding-bottom: 60px;
  }

  .feature-container{
    text-align: center;
    padding-top: 50px;
    flex-wrap: wrap;
    
  }

  .feature-container h2{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
  }

  .feature-container p{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    padding-top: 30px;
    color: rgb(108, 118, 134);
    font-family: 'Nunito Sans', sans-serif;
   
  }

.feature-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.feat1{
    text-align: center;
    padding-top: 30px;

}

.feat1 p{
    color: rgb(108, 118, 134);
}

.feat1 h3{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}

.feat2{
    text-align: center;
    padding-top: 30px;

}

.feat2 p{
    color: rgb(108, 118, 134);
}

.feat2 h3{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}

.feat3{
    text-align: center;
    padding-top: 30px;

}

.feat3 p{
    color: rgb(108, 118, 134);
}

.feat3 h3{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}


/* section.... */


.API-flex{
    text-align: center;
    padding-top: 50px;
    line-height: 40px;
    flex-wrap: wrap;
    background-color: rgb(250,251,254);
    
  }

.API-flex p{
    line-height: 24px;
    padding-top: 10px;
    color: rgb(108, 118, 134);

}
.btn-api{
    border: none;
    border-radius: 5px;
    background-color:rgb(81,15,168);
    padding: 5px 18px;
    font-size: 16px;
    color: white;
    margin: 40px 0px;
    font-family: 'Nunito Sans', sans-serif;

  

}
footer{
    background-color: rgb(59,47,132);
}

#footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10px;
    padding-right: 90px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(108, 118, 134);
}


.footer1 p{
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.975rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);

}

.footer1 img{
    width: 60% !important;

}


.footer2 p{
    padding-top: -40px;
    padding-bottom: 8px;
    font-weight: 400;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(108, 118, 134);

}

.footer2 P, .footer2 li:hover{
    color: white;
}

.footer2 li{
    color: rgb(108, 118, 134);
    line-height: 28px;
    font-family: 'Nunito Sans', sans-serif;

}




.footer3 p{
    padding-top: 26px;
    padding-bottom: 8px;
    font-weight: 400;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(108, 118, 134);

}

.footer3 P, .footer3 li:hover{
    color: white;
}

.footer3 li{
    color: rgb(108, 118, 134);
    line-height: 28px;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;

}


.footer4 p{
    padding-bottom: 8px;
    font-weight: 400;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(108, 118, 134);

}

.footer4 P, .footer4 li:hover{
    color: white;
}

.footer4 li{
    color: rgb(108, 118, 134);
    line-height: 28px;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;

}

.footer5 p{
   
    font-weight: 400;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(108, 118, 134);

}

.footer5 P, .footer5 li:hover{
    color: white;
}

.footer5 li{
    color: rgb(108, 118, 134);
    line-height: 28px;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;

}
 #form{
   padding-left: 40px;
  
 }

 #form-sub{
    background-color:rgb(81,15,168);
    border: none;
    padding: 10px 20px;
   
  }




  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(108, 118, 134);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(81,15,168);   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(108, 118, 134);  /* creates padding around scroll thumb */
  }





















@media (max-width: 1024px){

    .hero-page h2.sec-2{
    display: block;
    line-height: 65px;
    font-size: 45px;
    color: white;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    


}

.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    max-width: 95%;
    margin: 0 auto ;
    gap: 30px;
    margin-bottom: 40px;

  }


.bigCard{
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
    /* border: 2px solid red; */
}

.flexbox1-img{
    display: flex;
   
    margin: auto;
     width: 75%;
   }
 
   .jkl{
     padding-top: 10px;
     display: flex;
     justify-content: center;
     margin: auto;
     align-items: center;
     width: 54% !important;
   }
 
   .box3img{
     width: 89% !important;
     padding-top: 40px;
     display: flex;
     justify-content: center;
     margin: auto;
     align-items: center;
     
     
   }
 
   .flexbox4-img{
     display: flex;
     margin: auto;
     width: 78% !important;
   }





.feature-container h2{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
  }

  .feature-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    padding-top: 30px;
    color: rgb(108, 118, 134);
    font-family: 'Nunito Sans', sans-serif;
  }

  .feature-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.feat1{
    text-align: center;
    padding-top: 30px;
    max-width: 30%;

}

.feat1 p{
    color: rgb(108, 118, 134);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

.feat1 h3{
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}

.feat2{
    text-align: center;
    padding-top: 50px;
    max-width: 30%;

}

.feat2 p{
    color: rgb(108, 118, 134);
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

.feat2 h3{
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}


.feat3{
    text-align: center;
    padding-top: 20px;
    max-width: 30%;

}

.feat3 p{
    color: rgb(108, 118, 134);
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    word-spacing: 1px;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
}

.feat3 h3{
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;


}

.API-flex p{
    line-height: 24px;
    padding-top: 10px;
    color: rgb(108, 118, 134);
    font-size: 15px;
    font-weight: 400;

}

#footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 50px;
    /* padding-right: 90px; */
    border-bottom: 1px solid rgb(108, 118, 134);
}

.footer1 p{
    padding-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.779rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);

}

.footer2 p{
    padding-top: -40px;
    padding-bottom: 8px;
    font-weight: 400;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(108, 118, 134);

}
#form{
    padding-left: 20px;
   
  }

#form-sub{
    background-color:rgb(81,15,168);
    border: none;
    padding: 10px 10px;
   
  }














    
}



@media (max-width:768px) {
    .logo-logo{
        height: 40px;
    
    }
    #section-one{
        padding-top: 90px;
        background: linear-gradient(80deg,#3B2F84 15%, #8E66DA 75%)!important;

    }
    .hero-page{
        max-width: 100%;
    }
    .hero-page h2{
        text-align: center;
        line-height: 76px;
        font-size: 60px;
        color: white;
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;
        word-wrap: break-word;
        word-break: normal;


  }

  .hero-page p{
    text-align: center;
    line-height: 30px;
   font-size: 20px;
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   padding-top: 20px;
   padding-bottom:  40px;
   }

   .section-wrapper{
    padding-top: 40px;
    
   }

   .section-wrapper h3{
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
   }

.section-wrapper p{
    max-width: 100%;
    padding-top: 20px;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
  }

  .image-cont{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 40px;
    overflow: hidden;
    flex-wrap: wrap;
}

.sec-text h2{
    font-size: 25px;
    word-wrap: normal;
}


  .cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;

  }

  .bigCard{
    width: 95%;
    height: 100vh;
    /* border: 2px solid red; */
    border-radius: 10px;
    /* margin-bottom: 10px; */
    
  }

  .flexbox1-img{
   display: flex;
  
   margin: auto;
    width: 63%;
  }

  .jkl{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 45% !important;
  }

  .box3img{
    width: 82% !important;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    
    
  }

  .flexbox4-img{
    display: flex;
    margin: auto;
    width: 73% !important;
  }

/* another section  */

.feature-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 40px;
}



  .feat1{
    
    text-align: center;
    display: inline-block;
    padding-top: 30px;

}

.feat1 img, .feat2 img, .feat3 img{
    width: 50px !important;
    padding-top: 10px;
}

.feat1 h3, .feat2 h3, .feat3 h3{
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
}

.feat1 p, .feat2 p, .feat3 p{
    font-family: Nunito, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    overflow-x: hidden;
    color: #6c7686;
    background-color: #fff;
 
}


.API-flex{
    text-align: center;
    padding: 20px 40px;
    line-height: 40px;
    flex-wrap: wrap;
    background-color: rgb(250,251,254);
    
  }

.API-flex p{
    line-height: 24px;
    padding-top: 10px;
    color: rgb(108, 118, 134);
    font-size: 15px;
    font-weight: 300;

}


#footer-flex{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    padding: 60px 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(108, 118, 134);
}


.footer1 img{
    width: 200px !important;
}






 








    
}




@media (max-width:425px) {
    .logo-logo{
        height: 25px;
    
    }
    #section-one{
        padding-top: 80px;
        height: 110vh;
        background: linear-gradient(80deg,#3B2F84 15%, #8E66DA 75%)!important;

    }
    .hero-page{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-page h2{
        text-align: center;
        line-height: 44px;
        font-size: 33px;
        color: white;
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;
      


  }

  .hero-page p{
    text-align: center;
    line-height: 28px;
    font-size: 17px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom:  60px;
   }

   .acc-btn{
   text-align: center;
    padding: 15px;
    background-color: rgb(64,12,133);
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    word-spacing: 1;
    font-family: 'Nunito Sans', sans-serif;
}

    .acc-btn a{
        color: white;
        list-style: none;
        text-decoration: none;
    }

   .section-wrapper{
    padding-top: 40px;
   }

   .section-wrapper h3{
    color: black;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
   }

.section-wrapper p{
    max-width: 100%;
    padding-top: 20px;
    color: black;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
    /* border: 1px solid red; */
  }
    
  
  .image-cont{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 40px;
    overflow: hidden;
    flex-wrap: wrap;
}

.sec-text h2{
    text-align: center;
    line-height: 39px;
    font-size: 30px;
    word-wrap: normal;
    font-weight: 400;
   

}


  .cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;

  }

  .bigCard{
    width: 95%;
    height: 100vh;
    /* border: 2px solid red; */
    border-radius: 10px;
    /* margin-bottom: 10px; */
    
  }

  .flexbox1-img{
   display: flex;
  
   margin: auto;
    width: 63%;
  }

  .jkl{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 45% !important;
  }

  .box3img{
    width: 82% !important;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    
    
  }

  .flexbox4-img{
    display: flex;
    margin: auto;
    width: 73% !important;
  }

/* another section  */

.feature-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 40px;
}



  .feat1{
    
    text-align: center;
    display: inline-block;
    padding-top: 30px;

}

.feat1 img, .feat2 img, .feat3 img{
    width: 50px !important;
    padding-top: 10px;
}

.feat1 h3, .feat2 h3, .feat3 h3{
  
    font-size: 1.1rem;
    font-weight: 400;

}

.feat1 p, .feat2 p, .feat3 p{
    font-family: Nunito, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    overflow-x: hidden;
    color: #6c7686;
    background-color: #fff;
 
}


.API-flex{
    text-align: center;
    padding: 20px 40px;
    line-height: 40px;
    flex-wrap: wrap;
    background-color: rgb(250,251,254);
    
  }

.API-flex h2{
    
    font-size: 30px;
    line-height: 40px;

}

.API-flex p{
    text-align: center;
    line-height: 35px;
    padding-top: 10px;
    color: rgb(108, 118, 134);
    font-size: 16px;
    font-weight: 400;
    /* border: 1px solid red; */
    

}


#footer-flex{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    padding: 60px 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(108, 118, 134);
}


.footer1 img{
    width: 200px !important;
}







}



